# Python
__pycache__/
*.py[cod]

# Environments
venv/
env/
.venv/
.env

# Jupyter
.ipynb_checkpoints/

# Data (IMPORTANT)
data/temp/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Generated model artifacts (regenerate with: python src/model.py)
models/

# Logs
*.log